<div class="row">
  <div class="col-xs-12">
    <img src="#" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group"appDropdown>
      <button 
      type="button" 
      class="btn btn-primary dropdown-toggle">Manage Product <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a href="#" (click) = "onShowEdit()">Edit Product</a></li>
      <li><a href="#" (click) = "onDelete()">Delete Product</a></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ product.description }}</h3>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click) = "clickAdd()">Add to Cart</button>
  </div>
  <div class="col-xs-12">
    <form *ngIf ="opened" (ngSubmit) = "onClickAddToCart()" #amForm = "ngForm">
      <div>
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" autocomplete="off" ngModel = "1" name="amount" #amount required>
        <button class="btn btn-success" type="submit" [disabled] = "!amForm.valid">Add</button>
       <button class="btn" type="button" (click) = "clickHide()">Hide</button>
      </div>
    </form>
  </div>
</div>
<app-product-edit *ngIf = "openEdit" (onEdit) = "onClickEdit($event)" [product] = "product"></app-product-edit> <!-- TODO -->
