<div class="row">
  <div class="col-xs-12">
      <button class="btn btn-success" (click) = "onAdd()">Add Product</button>
  </div>
  <form *ngIf = "addForm" (ngSubmit) = "onSubmit(f)" #f="ngForm">
  <div >
    <label for="name" >Name</label>
    <input type="text" class="form-control" id="name" ngModel name="name" required #name>
    <label for="desc">Description</label> 
    <input type="text" class="form-control" id="desc" ngModel name="desc" required #desc>
    <label for="price">Price</label>
    <input type ="number" class="form-control" id="price" ngModel name="price" required #price>
    <p style = "color:red" *ngIf = "nameEx">This name already exist</p>
    <button class="btn btn-success" type="submit" (click) = "onAddItem()" [disabled] = "!f.valid">Accept</button>
    <button class="btn" type="button" (click) = "onHide()">Close</button>
  </div>
</form>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <app-product-item 
      *ngFor ="let productEl of products_mas"
      [product]="productEl"
      (ProductSelected)="onProductSelected(productEl)">
  </app-product-item>  
  </div>
</div>
