<a 
href="#" 
class="list-group-item clearfix"
(click)="onSelected()"
*ngIf = "checker()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ product.name }}</h4>
        <p class="list-group-item-text">{{ product.description }}</p> 
        <p class="list-group-item-text">{{ product.price }}$</p> 
    </div>
    <!-- <span class="pull-right">
        <img 
        src="" 
        alt="{{product.name}}" 
        class="img-responsive" 
        style="max-height: 50px;">
    </span> -->
</a>