<app-header (selectedBar)="onNavigate($event)"></app-header>
<div class= "container">
    <div class="row">
        <div class="col-md-12">
                <app-products 
                *ngIf="selectedBar === 'Products'"
                [xxx] = "products" 
                (productAdded) = "productAdded($event)"
                (ONdeleted) = "OnDeleted($event)"
                (onEdited) = "onEdited($event)">
                </app-products> 
                <hr>
                <app-shopping       
                *ngIf="selectedBar === 'Shopping-List'"
                [cart] = "cart" 
                (onDelete) = "onDeleteFromCart($event)"
                ></app-shopping>
        </div>
    </div>
</div>
