<div class="col-xs-12">
  <h4>Edit</h4>
  <form (ngSubmit) = "onSubmit()" #editForm = "ngForm">
    <label for="name">Name</label>
    <input type="text"  id="name" ngModel name="name" required #name>
    <label for="desc">Description</label>
    <input type="text"  id="desc" ngModel name="desc" required #desc>
    <label for="price">Price</label>
    <input type="number"  id="price" ngModel name="price" required #price>
    <button class="btn btn-success" type="submit" [disabled] = "!editForm.valid">Edit</button>
    <!-- <button class="btn" (click) = "onHide()">Close</button>  TODO!!!!!!!!!!-->
  </form>
</div>