<h1>Your Cart</h1>

<div *ngFor = "let product of cart">
<a 
href="#" 
class="list-group-item clearfix"
>
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ product.name }}</h4>
        <p class="list-group-item-text">{{ product.description }}</p> 
        <p class="list-group-item-text">{{ product.price }}$</p> 
    </div>
    <span class="pull-right">
        <h3>{{product.amount}}</h3>
        <button class="btn btn-danger" (click) = "onClickDelete(product)">Delete</button>
    </span>
</a>
</div>
<h4 *ngIf = "this.cart.length !== 0">Total Price: {{ calcPrice() }}$</h4>
        <!-- <img 
        src="" 
        alt="{{product.name}}" 
        class="img-responsive" 
        style="max-height: 50px;"> -->