<div class="row">
  <div class="col-md-5">
    <app-product-list [products_mas]="xxx"
    (ProductWasSelected) = "productSelected($event)">

    </app-product-list>
  </div>
  <div class="col-md-7">   
    <app-products-desc
    *ngIf="SelectedProduct; else InfoMessage" 
    [product]="SelectedProduct"
    (AddToCartClicked) = "AddToCartClicked()"
    (onDeleted) = "onDeleted($event)"
    (onEdit) = "onEdit($event)">

    </app-products-desc>

    <ng-template #InfoMessage>
      <h1>Please Select A Product</h1>
    </ng-template>
  </div>
</div>